.MainContainer  {
    width: 100%;
    margin-top: 48px;
    line-height: 80px;
    padding-left: 100px;
    display: flex;
    box-sizing: border-box;
}

.LandingSectionLeft {
    width: 40%;
    height: max-content;
}

.LandingSectionRight {
    width: 60%;
    padding: 12px;
    box-sizing: border-box;
}

.MainText {
    width: 100%;
    font-size: 80px;
    font-weight: 550;
    text-align: left;
    margin: 0;
}

.Description {
    width: 100%;
    line-height: 24px;
    opacity: 0.5;
    text-align: left;
    font-size: 14px;
}

.BtnContainer {
    display: flex;
    align-items: center;
    justify-content: left;
}

.NewAccountBtn {
    padding: 16px 24px;
    outline: none;
    background-color: #5D50C3;
    color: #fff;
    border-radius: 18px;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid transparent;
}

.Arrows {
    margin: 0 12px;
    cursor: pointer;
}

.LandingSectionImage {
    width: 70%;
    height: 70%;
}