.Topbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;
    box-sizing: border-box;
}

.Logo {
    width: 120px;
}

.MenuItems {
    margin: 0 18px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: -.5px;
    color: #000;
    opacity: 0.5;
    cursor: pointer;
}

.MenuItems:first-child {
    text-decoration: #5D50C3 underline;
    opacity: 1;
}

.MenuItems:hover {
    text-decoration: #5D50C3 underline;
    opacity: 1;
}

.User {
    padding: 2px;
}

.UserAccount {
    border-radius: 24px;
    border: none;
    outline: none;
    background-color: #FEE9EA;
    color: #5D50C3;
    font-weight: 600;
    font-size: 12px;
    padding: 20px 36px;
    letter-spacing: -.5px;
}